<ion-header>
  <ion-toolbar>
    <ion-title>Pengalaman</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label class="ion-text-wrap">
      <h2>Pengalaman Kelas AMBW</h2>
      <p>Menarik gaya mengajarnya ce Anita, sudah baik dan bagus daripada belajar codingnya di zoom meeting bersama-sama.</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label class="ion-text-wrap">
      <h2>Kritik / Saran</h2>
      <p>Sarannya mungkin materinya semakin tambah advance lagi Ce. Karena AMBW ini dari awal sampai pertengahan semester ini mirip sekali sama PPM dulu. (Kecuali Cameranya dan Storagenya)
      </p>
    </ion-label>
  </ion-item>
</ion-content>
