<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Upload
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="4" class="ion-align-self-center" *ngFor="let isiFoto of fotoService.dataFoto; index as position; let i = index;">
        <ion-img [src]="isiFoto.webviewPath"></ion-img>
        <ion-button text="center" color="primary" shape="round" size="medium" (click)="uploadFoto(i)">UPLOAD INI</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button  color="success" (click)="TambahFoto()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
