<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Data Pribadi
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>
      <h3>Nama</h3>
      <h2>Welly Susanto</h2>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <h3>NRP</h3>
      <h2>C14180245</h2>
    </ion-label>
  </ion-item>
    <ion-item>
      <ion-label>
        <h3>Email</h3>
        <h2>wellysusanto4869@gmail.com</h2>
      </ion-label>
    </ion-item>
  <ion-item>
    <ion-label>
      <h3>No. HP</h3>
      <h2>089609608660</h2>
    </ion-label>
  </ion-item>
</ion-content>
