<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Galeri Cloud
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let iFoto of urlImageStorage; index as position; let i = index" (click)="AksesFoto(i)">
      <ion-avatar slot="start">
        <ion-img [src]="iFoto"></ion-img>
      </ion-avatar>
      <ion-label>
        <h2>{{namaGambar[i]}}</h2>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
